RewriteEngine on
RewriteBase /

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?page_id=2/ [NC]
RewriteRule ^ https://mglerner.github.io/pages/about.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?page_id=2 [NC]
RewriteRule ^ https://mglerner.github.io/pages/about.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=8/ [NC]
RewriteRule ^ https://mglerner.github.io/posts/a-simple-python-logging-example.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=8 [NC]
RewriteRule ^ https://mglerner.github.io/posts/a-simple-python-logging-example.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=13/ [NC]
RewriteRule ^ https://mglerner.github.io/posts/getting-a-sensible-python-install-on-my-mac.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=13 [NC]
RewriteRule ^ https://mglerner.github.io/posts/getting-a-sensible-python-install-on-my-mac.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=16/ [NC]
RewriteRule ^ https://mglerner.github.io/posts/march-madness-monte-carlo-style.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=16 [NC]
RewriteRule ^ https://mglerner.github.io/posts/march-madness-monte-carlo-style.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=33/ [NC]
RewriteRule ^ https://mglerner.github.io/posts/making-ipython-notebooks-for-the-matplotlib-examples.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=33 [NC]
RewriteRule ^ https://mglerner.github.io/posts/making-ipython-notebooks-for-the-matplotlib-examples.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=20/ [NC]
RewriteRule ^ https://mglerner.github.io/posts/drum-head-normal-modes-with-movies.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=20 [NC]
RewriteRule ^ https://mglerner.github.io/posts/drum-head-normal-modes-with-movies.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=28/ [NC]
RewriteRule ^ https://mglerner.github.io/posts/histograms-and-kernel-density-estimation-kde-2.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=28 [NC]
RewriteRule ^ https://mglerner.github.io/posts/histograms-and-kernel-density-estimation-kde-2.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=43/ [NC]
RewriteRule ^ https://mglerner.github.io/posts/speeding-up-calculations-with-lookup-tables-and-lagrangian-interpolation.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=43 [NC]
RewriteRule ^ https://mglerner.github.io/posts/speeding-up-calculations-with-lookup-tables-and-lagrangian-interpolation.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=45/ [NC]
RewriteRule ^ https://mglerner.github.io/posts/evolution-of-a-learning-goal.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=45 [NC]
RewriteRule ^ https://mglerner.github.io/posts/evolution-of-a-learning-goal.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=49/ [NC]
RewriteRule ^ https://mglerner.github.io/posts/more-march-madness-monte-carlo-style.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=49 [NC]
RewriteRule ^ https://mglerner.github.io/posts/more-march-madness-monte-carlo-style.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=52/ [NC]
RewriteRule ^ https://mglerner.github.io/posts/using-numba-to-speed-up-mean-squared-displacement-calculations.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=52 [NC]
RewriteRule ^ https://mglerner.github.io/posts/using-numba-to-speed-up-mean-squared-displacement-calculations.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=54/ [NC]
RewriteRule ^ https://mglerner.github.io/posts/can-i-be-smarter-about-late-policies.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=54 [NC]
RewriteRule ^ https://mglerner.github.io/posts/can-i-be-smarter-about-late-policies.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=5/ [NC]
RewriteRule ^ https://mglerner.github.io/posts/the-blogging-begins.html [L,R=301]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /blog/\?p=5 [NC]
RewriteRule ^ https://mglerner.github.io/posts/the-blogging-begins.html [L,R=301]
